<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thông báo</title>
</head>
<body style="font-family: sans-serif; background-color: #f7fafc; color: #1a202c; padding: 24px;">
<div style="max-width: 640px; margin: 0 auto; background-color: white; padding: 24px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
  <h4 style="font-size: 1.25rem; font-weight: 600; margin-bottom: 16px;">Kính gửi
    <span th:text="${recipientName}" style="font-weight: bold; color: #3182ce;">Recipient Name</span>,
  </h4>
  <p style="font-size: 1.125rem; margin-bottom: 16px;" th:text="${title}">[Tiêu đề]</p>
  <p style="font-size: 1.125rem; margin-bottom: 16px;" th:text="${message}">[Nội dung thông báo]</p>
  <p style="font-size: 1.125rem; margin-bottom: 16px;">Thời hạn: <span th:text="${expiredAt}">[Expired At]</span></p>
  <br/>
  <p style="font-size: 1.125rem; font-weight: 600;">Trân trọng,</p>
  <p style="font-size: 1.125rem;">Đội ngũ Hỗ trợ</p>
  <p style="font-size: 1.125rem; font-weight: bold; margin-top: 16px;">IoT Lab</p>
</div>
</body>
</html>
